<h1>Details of <%= @company["company_name"] %></h1>
<h2>Company number: <%= @company["company_number"] %></h2>

<dl>
<% @company.each do |property| %>
  <dt><strong><%= property[0].titleize %>:</strong></dt>
  <dd><%= property[1] %></dd>
<% end %>
</dl>

<ul>
  <li>
    Company address:

    <br/>
    <%= @company["registered_office_address"]["address_line_1"] %><br/>
    <%= @company["registered_office_address"]["address_line_2"] %><br/>

    <%= @company["registered_office_address"]["postal_code"] %>
    <%= @company["registered_office_address"]["locality"] %>
  </li>
</ul>
