<h1>Details of <%= @company["company_name"] %></h1>
<h2>Company number: <%= @company["company_number"] %></h2>


<h2>Overview</h2>
<dl>
  <dt><strong>Registered office address</strong></dt>
  <dd>
    <%= @company["registered_office_address"]["address_line_1"].titleize %><br/>
    <%= @company["registered_office_address"]["address_line_2"].titleize %><br/>
    <%= @company["registered_office_address"]["locality"].titleize %><br/>
    <%= @company["registered_office_address"]["postal_code"] %>
  </dd>
  <dt><strong>Undeliverable registered office address</strong></dt>
  <dd><%= @company["undeliverable_registered_office_address"] %></dd>
  <dt><strong>Company status</strong></dt>
  <dd><%= @company["company_status"].titleize %></dd>
  <dt><strong>Company type</strong></dt>
  <dd><%= @company["type"].titleize %></dd>
  <dt><strong>Jurisdiction</strong></dt>
  <dd><%= @company["jurisdiction"].titleize %></dd>
  <dt><strong>Incorparated on</strong></dt>
  <dd><%= @company["date_of_creation"] %></dd>
  <dt><strong>Nature of business</strong></dt>
  <% @company["sic_codes"].each do |code| %>
    <dd><%= code %></dd>
  <% end %>
</dl>

<h2>Accounts and Annual Returns</h2>
<dl>
  <dt><strong>Company has been liquidated</strong></dt>
  <dd><%= @company["has_been_liquidated"] %></dd>
  <dt><strong>Company has insolvency history</strong></dt>
  <dd><%= @company["has_insolvency_history"] %></dd>
  <dt><strong>Annual return late</strong></dt>
  <dd><%= @company["annual_return"]["overdue"] %></dd>
  <dt><strong>Can file</strong></dt>
  <dd><%= @company["can_file"] %></dd>
  <dt><strong>Has charges</strong></dt>
  <dd><%= @company["has_charges"] %></dd>
</dl>

First accounts made up to <%= @company["accounts"]["next_made_up_to"] %>
due by <strong><%= @company["accounts"]["next_due"] %></strong>
<br/>
Last accounts made up to <%= @company["accounts"]["last_accounts"]["made_up_to"] %>
<br/>
<br/>
Next annual return made up to <%= @company["annual_return"]["next_made_up_to"] %>
due by <strong><%= @company["annual_return"]["next_due"] %></strong>
<br/>
Last annual return made up to <%= @company["annual_return"]["last_made_up_to"] %>
<br/>
<br/>

<h2>Officers</h2>
<dl>
<% @officers.each do |item| %>
    <dt><strong><%= item["name"] %></strong></dt>
    <dd>DOB <%= item["date_of_birth"] %></dd>
    <dd><%= item["occupation"] %></dd>
    <dd><%= item["officer_role"] %></dd>
    <dd>Appointed on <%= item["appointed_on"] %></dd>
    <dd>Resigned on <%= item["resigned_on"] %>
<% end %>
</dl>
<pre>
  <%= @officers %>
</pre>
